@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@theme {
  --font-brand: "Roboto";
  --color-mint-500: #1cd6c4;
  --color-mint-900: #1780a3;
  
}
body{
  font-family: "Roboto";
  @apply w-full h-full bg-slate-100;
}